<header class="measure center">
  <h1 class="flex flex-row items-center f3 srf-gb ttu pa2 v-mid black-60">
    <span class="flex-auto">leaderboard</span>
    <a class="pointer f6 link dim ba ph3 pv2 dib white bg-black ttu">Refesh</a>
  </h1>
</header>

<div class="overflow-auto">
  <ul class="list pl0 mt0 measure center">
    <li class="flex items-center lh-copy pa3 ph0-l bb b--black-10 srf-gb">
      <span class="f5 db srf-gm pr2 black-70">01</span>
      <img class="w2 h2 w3-ns h3-ns br-100" src="http://tachyons.io/img/avatar-mrmrs.jpg" />
      <div class="ph3 flex-auto">
        <span class="f6 db black-70">Nisheed Jagdish</span>
        <span class="f7 db black-70 truncate">nisheed2016@gmail.com</span>
        <span class="f7 db black-70">
          
        </span>
      </div>
      <div>
        <span class="f7 black-60">SCORE: 9999</span>
        <span class="f7 black-60">TIME: 9999</span>
      </div>
    </li>
    <li class="flex items-center lh-copy pa3 ph0-l bb b--black-10">
      <img class="w2 h2 w3-ns h3-ns br-100" src="http://tachyons.io/img/avatar-jxnblk.jpg" />
      <div class="pl3 flex-auto">
        <span class="f6 db black-70">Jxnblk</span>
        <span class="f6 db black-70">Large Circle, Inc</span>
      </div>
      <div>
        <a href="tel:" class="f6 link blue hover-dark-gray">+1 (999) 555-5555</a>
      </div>
    </li>
    <li class="flex items-center lh-copy pa3 ph0-l bb b--black-10">
      <img class="w2 h2 w3-ns h3-ns br-100" src="http://tachyons.io/img/avatar-jasonli.jpg" />
      <div class="pl3 flex-auto">
        <span class="f6 db black-70">Jason Li</span>
        <span class="f6 db black-70">Little Blue Square, Inc</span>
      </div>
      <div>
        <a href="tel:" class="f6 link blue hover-dark-gray">+1 (999) 555-5555</a>
      </div>
    </li>
    <li class="flex items-center lh-copy pa3 ph0-l bb b--black-10">
      <img class="w2 h2 w3-ns h3-ns br-100" src="http://tachyons.io/img/avatar-yavor.jpg" />
      <div class="pl3 flex-auto">
        <span class="f6 db black-70">Yavor</span>
        <span class="f6 db black-70">Large Circle, Inc</span>
      </div>
      <div>
        <a href="tel:" class="f6 link blue hover-dark-gray">+1 (999) 555-5555</a>
      </div>
    </li>
  </ul>
</div>
