<h1 class="flex flex-row items-center f3 mw8 srf-gb ttu pa2 center v-mid black-60">
  <span class="flex-spacer">leaderboard</span>
  <a class="pointer f6 link dim ba ph3 pv2 dib white bg-black ttu">Refesh</a>
</h1>
<div class="ph2">
  <div class="overflow-auto">
    <table class="f6 w-100 mw8 center srf-gb pt3 bt b--black-20" cellspacing="0">
      <thead>
        <tr>
          <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white ttu">Name</th>
          <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white ttu">Email</th>
          <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white ttu">Score</th>
        </tr>
      </thead>
      <tbody class="lh-copy">
        <tr>
          <td class="pv3 ph2 bb b--black-20 bg-light-red black-60">Hassan Johnson</td>
          <td class="pv3 ph2 bb b--black-20 bg-light-red black-60">hassan@companywithalongdomain.co</td>
          <td class="pv3 ph2 bb b--black-20 bg-light-red black-60">999</td>
        </tr>
        <tr>
          <td class="pv3 ph2 bb b--black-20 bg-light-green black-60">Taral Hicks</td>
          <td class="pv3 ph2 bb b--black-20 bg-light-green black-60">taral@companywithalongdomain.co</td>
          <td class="pv3 ph2 bb b--black-20 bg-light-green black-60">600</td>
        </tr>
        <tr>
          <td class="pv3 ph2 bb b--black-20 bg-light-blue black-60">Tyrin Turner</td>
          <td class="pv3 ph2 bb b--black-20 bg-light-blue black-60">ty@companywithalongdomain.co</td>
          <td class="pv3 ph2 bb b--black-20 bg-light-blue black-60">200</td>
        </tr>
        <tr>
          <td class="pv3 ph2 bb b--black-20 black-60">Oliver Grant</td>
          <td class="pv3 ph2 bb b--black-20 black-60">oliverg@companywithalongdomain.co</td>
          <td class="pv3 ph2 bb b--black-20 black-60">300</td>
        </tr>
        <tr>
          <td class="pv3 ph2 bb b--black-20 black-60">Dean Blanc</td>
          <td class="pv3 ph2 bb b--black-20 black-60">dean@companywithalongdomain.co</td>
          <td class="pv3 ph2 bb b--black-20 black-60">400</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

