<div class="flex flex-row flex-column-ns w-100 h-100 justify-center items-center">
  <div class="container git dt-ns w-100">
    <div class="dt-row-ns">
      <div class="dtc-ns tc v-mid ph4 white">
        <h1 class="f1 f-headline-l mb2 srf-gb">404</h1>
        <p class="f4 mb2 mt2 srf-gb">
          Seems like the page you are looking for is <span class="srf-gm">not found!</span>
        </p>
        <a [routerLink]="'/'" class="pointer f6 link dim ba ph3 pv2 mb2 mt4 dib white srf-gm ttu">Go Back</a>
      </div>
    </div>
  </div>
</div>