<div class="flex flex-row flex-column-ns w-100 h-100 justify-center items-center">
  <div class="container git dt-ns w-100">
    <div class="dt-row-ns">
      <div class="dtc-ns tc tr-ns">
        <div class="logo-mw center ph4 ph3-ns">
          <img src="assets/images/sr-logo-16x9.png" alt="SapientRazorfish Logo">
        </div>
      </div>
      <div class="dtc-ns tc tl-ns v-mid-ns">
        <div class="dt w-100">
          <div class="dt-row" *ngFor="let loginType of loginTypes;let i = index;">
            <div class="dtc">
              <a class="pointer f6 link dim ba ph3 pv2 mb2 dib white srf-gm ttu tl" (click)="loginHandler(loginType,i)">
                <div class="flex flex-row items-center w-100 h-100">
                  <span [ngClass]="'socicon-' + loginType.icon" class="f3"></span>
                  <span class="pl2">login with {{loginType.type}}</span>
                </div>
              </a>
            </div>
          </div>
          <div class="dt-row">
            <div class="dtc">
               <a class="pointer f6 link dim ba ph3 pv2 mb2 dib white srf-gm ttu tl" (click)="logoutHandler()">
                <div class="flex flex-row items-center w-100 h-100">
                  <span>Logout</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
