/* You can add global styles to this file, and also import other style files */
//Bulma variable overrides
@import "./assets/sass/_variables";
//Bulma imports
@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/elements/_all";
@import "~bulma/sass/components/_all";

//Variables
$font-family-sans-serif: 'Gotham',Helvetica,Arial,sans-serif;
$font-family-serif : 'Miller',"Times New Roman",Times,serif;
$font-family-gotham-book: 'Gotham Book',Helvetica,Arial,sans-serif;
//Mixins
@mixin font-classes($font-family:$font-family-sans-serif, $font-weight:normal, $font-style:normal) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: $font-style;
}

//Styles
* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//Globals
html{
    position: relative;
    min-height: 100%;
}

.flex-spacer{
  flex: 1;
}

// font letter-spacing
.f-ls {
  letter-spacing: 0.12em; //em(2px);
}
.f-lsl{
   letter-spacing: 0.2em;
}

.srf-g {
  // Gotham medium
  &m {
    @include font-classes($font-family-sans-serif, 500);
  } // Gotham book
  &b {
    @include font-classes($font-family-gotham-book);
  }
}

// Miller font
.srf-m {
  @include font-classes($font-family-serif, 500);
  letter-spacing: normal;
}

.ttu {
  text-transform: uppercase;
}

.ttc {
  text-transform: capitalize;
}

.ttl {
  text-transform: lowercase;
}

.particles-js-canvas-el {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
  .logo-mw {
  max-width: 250px;
}

.app-offline:not(.offline-ui) {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

.root-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow-y: auto;
}

.page-container {
  @extend .root-container;
  bottom: 30px;
}

// layout
.flex-container {
  display: flex;
  overflow: hidden;
}

.flex-container>* {
  flex: 0 0 auto;
  overflow: scroll;
}

.stretchy {
  flex: 1 1 auto;
}

.full-screen {
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.full-screen>* {
  flex: 0 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.full-screen>.main {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
}

.full-screen>.main>* {
  flex: 0 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.full-screen > .main {
  main{
    width: 100%;
  }
  .panel {
    background: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }
}

.ellipses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}